{% extends "base.html" %}
{% block content %}
<div id="posts">
  <h2>{{ topic.subject|escape }}</h2>
  {% if topic.is_locked %}
    <p class="locked">This topic is locked</p>
  {% endif %}
  {% for post in posts %}
		<a name="{{ post.id }}"></a>
		<div class="post{% if post.is_deleted %} deleted{% endif %}">
			<div class="meta">
				<strong class="name" {% if isadmin %}title="{{ post.get_ip }}" style="cursor:pointer"{% endif %}>
				  {% if post.user_homepage %}
				    <a href="{{ post.user_homepage|escape }}">{{ post.user_name|escape }}</a>
				  {% else %}
				    {{ post.user_name|escape }}
				  {% endif %}
				</strong>
				<br />
				{{ post.created_on|date:"Y-m-d h:i" }}
				<div class='buttons'>
  				<a class="button" href="{{ siteroot }}topic?id={{ topic.id }}#{{ post.id }}" title="Permalink" >permalink</a>
  				{% if isadmin %}
  					{% if post.is_deleted %}
  						<a class="button" href="{{ siteroot }}postundel?{{ post.id }}" title="Undelete Post">restore</a>
  					{% else %}
  						<a class="button" href="{{ siteroot }}postdel?{{ post.id }}" title="Delete Post">delete</a>
  					{% endif %}
  				{% endif %}
  			</div>
			</div>
			<div class="body">
			  <p>{{ post.message|striptags|escape|urlize|linebreaksbr }}</p>
			</div>
		</div>
	{% endfor %}
</div>
<div id="buttons">
	{% if topic.is_locked %}
		<a accesskey="r" class="button" href="javascript:;">This topic is locked</a>
	{% else %}
	  <a accesskey="r" class="button" href="{{ siteroot }}post?id={{ topic.id }}"><u>R</u>eply to this topic</a>
	{% endif %}
</div>
</div>
{% endblock %}
