{% extends "base.html" %}
{% block tagline %}{{forum.tagline}}{% endblock %}
{% block content %}
  <div id="topics">
    <h2>{{forum.title|default:forum.url}}</h2>
    {% if not topics %}
      <div class='topic-link'>There are no topics. You better create one.</div>
      <div style="clear:both"></div>
    {% else %}
      {% for topic in topics %}		  
        <div class='topic post{% if topic.is_deleted %} deleted{% endif%}{% if topic.is_locked %} locked{% endif%}'>
          <div class="meta">
      	    <strong class="name">{{ topic.created_by }}</strong><br />
      	    <span class="comments-count">{{ topic.ncomments }} comment{{ topic.ncomments|pluralize }}</span>
      	    {% if isadmin %}
        	    <div class='buttons'>
								<form id="move" action="{{ forum.root }}move?id={{ topic.id }}" method="post">
									Move to
									<select name="forumto">
										{% for f in forum_urls %}
										{% ifnotequal f forum.url %}
										<option value="{{f}}">{{f}}</option>
										{% endifnotequal %}
										{% endfor %}
									</select>
									<button type="submit">Move</button>
								</form>
        	      {% if topic.is_locked %}
        	        <a href="{{ forum.root }}lock?id={{ topic.id }}" class="button">Unlock</a>
        	      {% else %}
        	        <a href="{{ forum.root }}lock?id={{ topic.id }}" class="button">Lock</a>
        	      {% endif %}
        	    </div>
      	    {% endif %}
      	  </div>
      	  <div class="body">
            <h3>
              <a title="{{ topic.msg_short }}" href="{{ forum.root }}topic?id={{ topic.id }}{% if topic.ncomments %}&amp;comments={{ topic.ncomments }}{% endif %}">
							{{ topic.subject|escape }}
      		    </a>
      		  </h3>
      		  <p>{{ topic.excerpt|escape }}</p>
      		</div>
      		<div style="clear:both"></div>
    	  </div>
      {% endfor %}
      <div style="clear:both"></div>
    {% endif %}
    <div id="buttons">
      <a id="new-topic" class='button' accesskey="n" href="{{ forum.root }}post"><u>N</u>ew topic</a>
      {% if offset %}
  	    <a id="older-topics" class='button' accesskey="t" href="{{ forum.root }}?from={{offset}}">Older <u>t</u>opics</a>
      {% endif %}
      <div style="clear:both"></div>
    </div>
  </div>
{% endblock %}
